.navbar {
  background-color: #4e54c8 !important;
}
.giang-sinh{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;

}
    
.san-pham-uu-dai{
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}    
    
    .game-card {
    border: none;
    text-decoration: none;
    border-radius: 18px;
    padding: 12px;
    background: #fff;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    width: 300px;
    transition: transform 0.5s ease;
    }
    .game-card:hover{
    transform: scale(1.09);
    }

    .game-img {
    width: 100%;
    border-radius: 18px;
    }
    .tag {
    font-size: 11px;
    padding: 2px 8px;
    background: #eef2ff;
    border-radius: 8px;
    font-weight: 600;
    color: #4f46e5;
    }
    .price-old {
    text-decoration: line-through;
    color: #9ca3af;
    font-size: 14px;
    }
    .price-new {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    }
    .next-btn {
    width: 40% ;
    height: 40%;
    border-radius: 30px;
    background: linear-gradient(135deg, #48ff6a, #00c853);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding: auto;
    box-shadow: 0 4px 12px rgba(0,200,83,0.4);
    cursor: pointer;
    transition: transform 0.5s ease;
    }
    .next-btn:hover {
    transform: scale(1.09);
    }